	<!-- 底部 -->
	
    <!-- 底部
    ================================================== -->
    <footer class="footer">
      <div class="container">
          <p>Copyright © 2015 {$GLOBALS['S']['comtitle']} All Rights Reserved.</p>
          <p> 本站程序及空间均由 <strong><a href="http://www.junyun.wang" target="_blank">浚云</a></strong> 友情提供.</p>

      </div>
    </footer>


 <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
{fun labelcus(1,'body')}
</div>
	<!-- /底部 -->